.form {
	&-fields {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	&-bottom {
		margin-top: 8px;
		font-size: 12px;
		line-height: 1.66;
		text-align: center;
	}
	&-link {
		color: #1890ff;
	}
}

.server-errors {
	color: #f5222d;
	margin-bottom: 10px;
}
