.blog-header {
}

.header {
	width: 100%;
	min-height: 80px;
	background-color: #fff;
	padding: 10px 22px;
	font-size: 18px;
	@media (min-width: 599.98px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@media (max-width: 599.98px) {
		text-align: center;
	}
	&-title {
		@media (max-width: 599.98px) {
			display: inline-block;
			margin-bottom: 15px;
		}
	}
	&-actions {
		margin-left: 10px;
		display: flex;
		align-items: center;
		column-gap: 25px;
		color: rgba(0, 0, 0, 0.85);
		line-height: 1.55;
		@media (max-width: 599.98px) {
			column-gap: 15px;
			justify-content: center;
			margin-left: 0;
		}
	}
	&-user {
		display: flex;
		align-items: center;
		span {
			display: inline-block;
			margin-right: 13px;
		}
		img {
			background-color: #1890ff;
			border-radius: 50%;
			overflow: hidden;
			min-width: 46px;
			max-width: 46px;
			height: 46px;
			object-fit: cover;
		}
	}
	&-buttonDark {
	}
	&-button {
		min-height: 50px;
		padding: 10px 18px;
		border-radius: 5px;
		@media (max-width: 599.98px) {
			padding: 10px;
			min-height: 40px;
		}
		&_green {
			color: #52c41a;
			border: 1px solid #52c41a;
		}
		&_black {
			color: rgba(0, 0, 0, 0.75);
			border: 1px solid rgba(0, 0, 0, 0.75);
		}
	}
}
.smallBtn {
	font-size: 14px;
	padding: 6px 10px;
	min-height: 30px;
}
